BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 114514
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
NamespaceIndentation: All
BreakBeforeBraces: Allman
IndentAccessModifiers: false
IncludeBlocks: Regroup
PointerAlignment: Left
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
AllowShortEnumsOnASingleLine: true
AlignEscapedNewlines: DontAlign
